# OSX stuff
.DS_Store

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# AppCode
# See: https://intellij-support.jetbrains.com/entries/23393067
.idea/workspace.xml
.idea/tasks.xml

# CocoaPods
Pods/*

